body{
    position: relative;
    overflow: hidden;
    width: 480px;
    height: 630px;
    margin: 0 auto;
}
#main{
    width: 480px;
    height: 630px;
    background-image: url("images/bg.jpg");
    position: relative;
    overflow: hidden;
    background-position-y: 0;
}
#planeLife{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 32px;
    border: 2px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 3px;
    transition: all .5s ease;
}
.imgLife{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}
#gameOver{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s linear;
}
#gameOver img{
    margin-top: 280px;
}
#detail{
    position: absolute;
    text-align: left;
    background-image: url("images/detail_bg.jpg");
    top: -630px;
    left: 0;
    opacity: 1;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family: Arial,sans-serif;
    transition: all .5s linear;
}
#detail img{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
}
#detail_1{
    margin-top: 150px;
    text-align: center;
}
#detail_2{
    margin: 20px auto;
    height: 50px;
    box-sizing: border-box;
    padding-left: 180px;
}
#detail_3{
    margin: 20px auto;
    height: 50px;
    box-sizing: border-box;
    padding-left: 180px;
}
#detail_4{
    width: 120px;
    height: 50px;
    margin: 70px auto 0;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    line-height: 46px;
    font-size: 20px;
    text-align: center;
    color: white;
    transition: all .3s ease;
}
#detail_4:hover{
    cursor: pointer;
    color: #4bfff0;
    border: 2px solid #4bfff0;
    transition: all .3s ease;
}
span{
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
}
#menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 630px;
    background-image: url("images/start_bg.jpg");
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial,sans-serif;
    text-align: center;
}
#menu1{
    z-index: 20;
    width: 387px;
    height: 305px;
    margin: 20px auto 0;
}
#menu2{
    width: 360px;
    height: 180px;
    margin: 20px auto 0;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: left;
    line-height: 28px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 10px;
}
#menu2:hover{
    color: #4bfff0;
    border: 2px solid #4bfff0;
    transition: all .3s ease;
}
#menu3{
    width: 120px;
    height: 50px;
    margin: 30px auto 0;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    line-height: 46px;
    transition: all .3s ease;
}
#menu3:hover{
    cursor: pointer;
    color: #4bfff0;
    border: 2px solid #4bfff0;
    transition: all .3s ease;
}
#movie{
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 630px;
    background-image: url("images/bg1.jpg");
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial,sans-serif;
    text-align: center;
    overflow: hidden;
}
#movie2{
    position: absolute;
    left: 120px;
    bottom: 0;
    width: 240px;
    height: 313px;
    background: url("images/bg_road.png") no-repeat center center;
    transition: all 1.2s ease-in;
}
#movie3{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 70px;
    left: 215px;
    top: 500px;
    transition: all 2s ease-in;
}
#pause{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 25px;
    margin: 70px auto 0;
    border: 2px solid white;
    border-radius: 7px;
    box-sizing: border-box;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: bolder;
}
#pause:hover{
    cursor: pointer;
}
#scores{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 30;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 8px;
    height: 26px;
    font-family: Arial;
}
#scores img{
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin: 3px 0 0 5px;
}
#span4{
    display: block;
    float: left;
    height: 20px;
    width: 40px;
    line-height: 20px;
    margin: 3px 0 0;
}
#span5{
    display: block;
    float: left;
    height: 20px;
    width: 40px;
    line-height: 20px;
    margin: 3px 0 0;
}
@-webkit-keyframes bigSkill{
    from{
        top: 630px;
    }
    to{
        top: -275px;
    }
}
#skill{
    position: absolute;
    left: 0;
    top: 0;
    width: 480px;
    height: 630px;
    overflow: hidden;
    transition: all 1s linear;
}
#skill1{
    position: absolute;
    left: 78px;
    top: 630px;
    width: 324px;
    height: 275px;
}
#skill2{
    position: absolute;
    left: 56px;
    top: 20px;
    width: 368px;
    height: 512px;
}